@import "tailwindcss";


@font-face {
  font-family: "Conthrax";
  src: url("/fonts/conthrax.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #000000; /* choose your desired color */
  --foreground: #ededed; /* text color */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Conthrax", sans-serif;
}

.font-conthrax {
  font-family: var(--font-conthrax);
}
